/*
Imported font styles: Roboto, Datatype, and Manrope
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Datatype:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Base Tailwind import */
@import "tailwindcss";

/*
Set up Roboto as default font
Set up Datatype, eg. font-datatype
Set up Manrope, eg. font-manrope
Set up the main theme color as fuchsia-800 or #872f89
Set up the main background color as fuchsia-50 or #fcf8fe
*/
@theme {
  --font-sans: "Roboto", sans-serif;
  --font-datatype: "DataType", sans-serif;
  --font-manrope: "Manrope", sans-serif;
  --color-primary: #872f89;
  --color-primary-bg: #fcf8fe;
}