/*
Imported two font styles, Roboto and Datatype
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Datatype:wght@100..900&display=swap');
@import "tailwindcss";

/*
Set up Roboto as default font
Set up Datatype, eg. font-datatype
Set up the main theme color as fuchsia-800 or #86198f
Set up the main background color as fuchsia-50 or #fdf4ff
*/

@theme {
  --font-sans: "Roboto", sans-serif;
  --font-datatype: "DataType", sans-serif;
  --color-primary: #872f89;
  --color-primary-bg: #fcf8fe;
}